.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-content: center;
  gap: 5px;
  height: 293px;
  padding: 0 10px 0 10px;
  margin: 0px;
  background-color: white;
}

.menu {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-transform: lowercase;
  list-style-type: circle;
}

.menu-link:first-child,
.menu-link:first-child a {
  list-style-type: none;
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
  border: none;
}

.address {
  justify-self: end;
  min-width: 280px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
}

.cover {
  position: relative;
  margin: 0 0 150px 0;
  padding: 155px 50px 50px 50px;
  background: center center url(../images/cover.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.cover-title {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 30px;
  position: relative;
  z-index: 1;
  margin-bottom: 96px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 1.35;
}

.cover-title-left {
  justify-self: start;
}

.cover-title-center {
  justify-self: center;
  padding-left: 5px;
}

.cover-title-right {
  justify-self: end;
  padding-left: 610px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  font-size: 22px;
}

.description p {
  word-spacing: 0.83px;
}

.cover-button {
  padding: 12px 32px;
  background-color: rgba(0, 125, 215, 0);
  border: 1px solid white;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  margin: 180px 10px 100px 10px;
  padding: 0;
}

.lots-title {
  padding: 0 0 13.5px 52px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.lots-card-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  margin: 13.5px 12.5px 13.5px 12.5px;
}

.lots-header {
  position: relative;
  z-index: 1;
  height: 100%;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots-content {
  align-self: end;
  position: relative;
  z-index: 1;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots-card li:nth-child(1) {
  background: url("../images/card-lot-01.jpg") center no-repeat;
  color: white;
}

.lots-card li:nth-child(2) {
  background: url("../images/card-lot-02.jpg") center no-repeat;
  color: white;
}

.lots-card li:nth-child(3) {
  background: url("../images/card-lot-03.jpg") center no-repeat;
  color: white;
}
.lots-link {
  padding-left: 52px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

.about {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 52px;
  margin: 132px 50px 132px 50px;
}

.about-left {
  display: flex;
  z-index: 0;
  height: 280px;
  background-color: #000;
  border: 20px white solid;
  border-radius: 50%;
}

.about-left svg {
  margin: auto;
  width: 150px;
  height: 120px;
}

.about-right {
  padding: 0;
}

.about-right h1 {
  margin: 122px 0 100px 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-right p {
  margin: 24px 0 24px 0;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  padding: 0 25px 0 25px;
  background-color: white;
  font-size: 25px;
  font-weight: 400;
}

.footer-address {
  justify-self: start;
  align-self: start;
  margin: 25px;
}

.footer-menu {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  gap: 3px;
  list-style-type: none;
  text-decoration: underline;
}

.footer-list {
  align-self: start;
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.footer-list-items {
  margin: 24px;
  width: 48px;
  height: 48px;
}
