.shadow {
	position: relative;
	z-index: 0;
}

.shadow::before {
	content: '';
	position: absolute;
	inset: 0;
	background: #000;
	opacity: 0.6;
	z-index: -1;
}

.text-start {
	display: block;
	text-align: left;
}

.text-center {
	display: block;
	text-align: center;
}

.text-end {
	display: block;
	text-align: right;
}

.top-bar {
	padding: 92px 50px 90px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
}

.top-bar nav ul {
	display: flex;
	list-style: circle;
	padding-bottom: 6px;
	gap: 33px;
}

.nav-item {
	text-underline-offset: 4px;
	font-size: 18px;
}

.no-bullet {
	list-style: none;
}

.active-link {
	text-decoration: none;
}

.logo {
	width: 138px;
}

.contact-info {
	display: flex;
	flex-direction: column;
	justify-self: end;
	max-width: 240px;
	padding-bottom: 6px;
	font-style: normal;
	font-size: 18px;
	line-height: 1.35;
	text-underline-offset: 4px;
}

/* Cover */
.hero {
	margin-top: 1px;
	background: url('/images/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}

.hero-content {
	padding: 165px 50px 50px;
}

.hero-title {
	font-weight: bold;
	font-size: 100px;
	line-height: 1.17;
	letter-spacing: 0.3em;
	margin-right: -0.3em;
	text-transform: uppercase;
}

.hero-title > span:not(:first-child) {
	margin-top: 18px;
}

.hero-desc {
	margin-top: 103px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-desc-text {
	text-transform: uppercase;
	letter-spacing: 0px;
	word-spacing: 18.5px;
	font-size: 22px;
	line-height: 28px;
}

.hero-button {
	background: transparent;
	border: 1px solid white;
	padding: 12px 32px;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
}
.showcase {
	margin-top: 180px;
	padding: 0 24px;
}

.showcase-header {
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	margin-left: 40px;
	margin-bottom: 27px;
}

.lot-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	list-style: none;
	margin-bottom: 30px;
}

.lot-item {
	width: 334px;
	min-height: 596px;
}

.lot-link {
	display: block;
	height: 100%;
}

.lot-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 47px 40px 48px;
	height: 100%;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.lot-film {
	background-image: url('/images/card-lot-01.jpg');
}

.lot-book {
	background-image: url('/images/card-lot-02.jpg');
}

.lot-art {
	background-image: url('/images/card-lot-03.jpg');
}

.lot-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.lot-content {
	font-size: 20px;
	line-height: 1.2;
}

.view-more {
	font-size: 20px;
	margin-left: 40px;
	text-underline-offset: 4px;
}
.info-section {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 120px;
	padding: 32px 24px 0;
}

.info-col:not(:first-child) {
	grid-column: 2 / span 2;
}

.brand-logo {
	justify-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 64px 45px;
	width: 240px;
	height: 240px;
	background: black;
	border-radius: 100%;
}

.info-title {
	text-transform: uppercase;
	margin-top: 103px;
	font-weight: bold;
	font-size: 40px;
}

.info-body {
	margin-top: 100px;
	text-wrap: balance;
}

.info-paragraph {
	font-size: 20px;
	line-height: 1.2;
}

.info-paragraph:not(:first-child) {
	margin-top: 24px;
}

.page-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 181px;
	padding: 0 50px 82px;
}

.footer-contact {
	justify-self: start;
}

.footer-nav {
	justify-self: center;
	text-align: center;
}

.footer-nav ul {
	list-style: none;
}

.footer-social-links {
	justify-self: end;
}

.footer-social-items {
	display: flex;
	gap: 48px;
	list-style: none;
}

.social-icon {
	display: block;
	width: 48px;
	height: 48px;
}
