body {
  overflow-x: hidden;
}
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height:293px;
    max-width:1100px;
    width:100%;
    margin: 0 auto;
}
.header__links-list {
    display: flex;
    gap: 32px;
    padding-left:50px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    white-space: nowrap;
}

.text-link:hover {
    background-color: #000000;
    color: white;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 140px;
}

.header__logo-image {
    width: 100%;
}

.address {
    font-style: inherit;
}

.header__address {
    justify-self: end;
    font-style: inherit;
    padding-right:84px;
}

.address__item {
    display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
}

.address__address-text {
    font-size: 18px;
    line-height: 1.35;
}
.overlay {
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    opacity: 0.62;
    background-color: #000000;

}
.cover {
    max-width:1100px;
    width:100%;
    background-image: url(../images/cover.jpg);
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 50px 50px 50px;
    background-position: center;
    height:757px;

    
}
.content-section {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    box-sizing: border-box;
}
.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size:100px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 30px;
}
.aligned-text {
    text-align:left;
}
.aligned-text_center {
    text-align:center;
    margin-left:32px;
}
.aligned-text_right {
    text-align:right;
    margin: -5px 0px 0px 614px;
    padding: 0px 0px 0px 0px;
}
.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 78px;
    padding: 117px 0 0;
}

.cover__description-text {
    color: white;
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
    margin-top:-10px;
}
.bet-button {
    padding: 0 32px 0 31px;
    border: 1px solid;
    color:white;
    background-color: transparent;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 31px;
    margin-top:-13px;
    height:51px;
    width:256px;
}
.bet-button:hover {
    color: #000000;
    background-color: white;
}

.lots {
    padding:  179px 50px 0px 25px;
    margin-top: 9px;
    justify-content: flex-start;
}

.lots__heading {
    padding: 0 0 27px 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    list-style: none;
}

.lost__card-list-item {
    height: 100%;
}

.card-link {
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 334px;
    height: 596px;
    padding: 50px 40px;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__title {
    position: relative;
    color:white;
    font-weight: bold;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-size:22px;
}

.card__text {
    position: relative;
    color: white;
    font-size: 20px;
    text-decoration-line: none;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration-line: underline;
    text-underline-position:under;
    width: fit-content;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
    margin: 0 auto;
    margin-top:160px;
    max-width:1100px;
    width:100%;
}

.about__column {
    justify-self: center;
}

.about__column_text {
    grid-column: 2/4;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #000000;
    margin-right:55px;
    margin-top:-8px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    padding: 100px 0 104px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0px 0px 180px 0px;
}

.about__text p {
    line-height: normal;
    font-size: 20px;
}
.footer {
    padding: 0px 50px 80px 50px;
    display:flex;
    justify-content:space-between;
    max-width:1100px;
    width:100%;
}
.footer__menu {
    width: auto;
    height: 48px;
}
.footer__menu-list {
    list-style: none;
    text-align: center;
}
.footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-icon {
    width: auto;
    height: 48px;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap:48px;
}
